body {
  background-color: red;
}

h1 {
  font-family: "Arial";
}
@media screen and (min-width: 500px) {
  body {
    background-color: green;
  }
}
@media screen and (max-width: 1000px) {
  h1 {
    font-family: "Times New Roman";
  }
}
.image {
  background: url("https://placedog.net/500/280?random");
  width: 500px;
  height: 280px;
}
