#title {
  width: 100%;
  align-content: center;
}

h1 {
  text-align: center;
  border: solid 5px black;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  color: aliceblue;
}

.col-4 {
  width: 100%;
}
#chick-body {
  background-color: blanchedalmond;
  border: coral medium solid;
  font-family: Arial, Helvetica, sans-serif;
}
#chick-title {
  background-color: cadetblue;
  text-align: right;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
#sushi-title {
  background-color: cadetblue;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
#sushi-body {
  background-color: blanchedalmond;
  border: coral medium solid;
  font-family: Arial, Helvetica, sans-serif;
}
#steak-body {
  background-color: blanchedalmond;
  border: coral medium solid;
  font-family: Arial, Helvetica, sans-serif;
}
#steak-title {
  background-color: cadetblue;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #megacol {
    width: 45%;
    flex: auto;
  }
}
@media screen and (min-width: 1px) and (max-width: 767px) {
  #megacol {
    width: 100%;
    flex: auto;
    margin-bottom: 10%;
  }
}
@media screen and (min-width: 1px) and (max-width: 767px) {
  #megacol2 {
    width: 100%;
    flex: auto;
  }
}
@media screen and (min-width: 1px) and (max-width: 767px) {
  #megacol3 {
    width: 100%;
    flex: auto;
  }
}
@media screen and (min-width: 992px) {
  #megacol {
    width: 30px;
    flex: auto;
    height: auto;
  }
}

@media screen and (min-width: 1px) and (max-width: 767px) {
  #megacol2 {
    width: 100%;
    flex: auto;
    margin-bottom: 10%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #megacol2 {
    width: 50%;
    flex: auto;
    margin-bottom: 10%;
    height: auto;
  }
}
#mrsayles {
  margin-right: 0px;
  --bs-gutter-x: 1.5rem;
}

.row {
  --bs-gutter-x: 0rem;
  margin-left: calc(var(--bs-gutter-x) * 0);
}
body {
  background-image: url("https://images.unsplash.com/photo-1608754482805-6f630357358b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2787&q=80");
}
